.container {
  color: var(--main-font-color);
  padding: 0 5rem;
  margin-top: 3rem;
  margin-bottom: 50rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 3.125rem;
  max-width: 32rem;
}

.description {
  border-top: 2px solid var(--main-blue);
  max-width: 15.8125rem;
}

.description > p {
  margin-top: 0.5rem;
}

.features {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .description > p {
    margin-top: 1rem;
  }

  .features {
    justify-content: flex-start;    
    overflow-x: auto;
  }
}
