.outsidecontainer {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.screenshots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
}