.container {
  position: relative;
  width: 320px;
  height: 353px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innercontainer {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 3px;
  background: var(--background);
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}

.title {
  font-weight: 300;
  font-size: 1.4rem;
}

.title > span {
  font-weight: 600;
}

.description {
  font-weight: 300;
  font-style: italic;
}

.features {
  font-family: 'Rajdhani';
  font-size: 0.8125rem;
}

.footer {
  font-weight: lighter;
}

.arrow {
  margin-right: 0.2rem;
  color: var(--main-font-color)
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerImage {
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.footerImage:hover {
  opacity: 0.8;
}

.footerText {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.name {
  font-size: 1.2rem;
  font-weight: 600;
}

.footerDescription {
  font-size: 1rem;
  max-width: 10rem;
}

@media (max-width: 768px) {
  .container {
    width: 25rem;
    height: 20rem;
  }

  .title {
    font-size: 1.2rem;
  }
}