.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 250ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.paper {
  background-color: var(--background);
  outline: none;
  box-shadow: 4px 4px 15px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  width: 90vw;
  max-width: 350px;
}

.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.containerButton button {
  transition: 250ms;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.cancelButton {
  color: var(--main-blue);
  border: var(--main-blue) 2px solid;
}

.okButton {
  background-color: var(--main-blue);
  color: #fff;
  border: 2px solid transparent;
}

.okButton:hover {
  border-color: var(--main-blue-hover);
  background-color: var(--main-blue-hover);
}
.cancelButton:hover {
  border-color: transparent;
  background-color: red;
  color: #fff;
}
.title {
  font-size: 20px;
  text-align: center;
  font-family: 'Lato';
  font-weight: 900;
  color: var(--main-font-color);
}

.title a {
  color: var(--main-blue);
}
.subTitle {
  max-width: 300px;
  font-size: 15px;
  margin: 1rem 0;
  color: var(--main-font-color);
  text-align: center;
}
