* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  padding-top: var(--banner-height);
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

:root {
  --background: #1a1c48;
  --main-blue: #00d1de;
  --main-font-color: #fff;
  --feature-card-green: #33cc4c;
  --main-blue-hover: #10afba;
  --main-grey: #8e8e8e;
  --banner-height: 2.5rem;
}

@media (max-width: 720px) {
  :root {
    --banner-height: 3.5rem;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
textarea,
button {
  font: 400 16px 'Roboto', sans-serif;
}
