.container {
  color: var(--main-font-color);
  padding: 0 5rem;
  margin-top: 6.6rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 3.125rem;
  max-width: 40rem;
  box-sizing: border-box;
}

.description {
  border-top: 2px solid var(--main-blue);
  max-width: 15.8125rem;
}

.description > p {
  margin-top: 0.5rem;
}

.testimonials {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {

  .container {
    display: flex;
    padding: 0;
  }

  .header {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    margin: 0;
  }
  
  .title {
    font-size: 2.2rem;
  }

  .description {
    border-top: none;
    max-width: 100%;
  }

  .testimonials {
    align-items: center;
    flex-direction: column;
  }
}
